.profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.profile__greeting {
  font-family: 'Inter', 'Arial', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.2;
  text-align: center;
  color: #000;
  margin: 74px 0 123px;
}

.profile__form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 70px;
}

.profile__form-container {
  width: 410px;
  height: 50%;
  display: grid;
  border: 1px solid #708090;
  grid-template-columns: 1fr 2fr;
  grid-template-areas:
    "name input-name"
    "email input-email";
}

.profile__input-container {
  display: flex;
  justify-content: flex-end;
}

.profile__input-container_name {
  border-bottom: 1px solid #E8E8E8;
  padding-bottom: 16px;
}

.profile__input-container_email {
  padding-top: 17px;
}

.profile__input {
  border: none;
  overflow: hidden;
  text-align: end;
  font-family: 'Inter', 'Arial', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 1.18;
  text-align: right;
  color: #000000;
}

.profile__input:focus {
  box-shadow: 0 0 3px 1px #708090;
}

.profile__input::placeholder {
  font-family: 'Inter', 'Arial', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 1.18;
  color: #000000;
  padding-right: 5px;
}

.profile__input_name {
  grid-area: input-name;
}

.profile__input_email {
  grid-area: input-email;
}

.profile__label {
  display: inline-block;

  font-family: 'Inter', 'Arial', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 11px;
  line-height: 1.18;
  color: #000000;
}

.profile__label_name {
  grid-area: name;
  border-bottom: 1px solid #E8E8E8;
  padding-bottom: 16px;
}

.profile__label_email {
  grid-area: email;
  padding-top: 17px;
}

.profile__button-edit {
  font-family: 'Inter', 'Arial', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 1.23;
  color: #000000;
  border: none;
  background-color: transparent;
  cursor: pointer;
  margin-top: 220px;
}

.profile__button-edit:hover {
  opacity: 0.6;
  cursor: pointer;
}

.profile__button-exit {
  font-family: 'Inter', 'Arial', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 1.23;
  color: #FF3055;
  border: none;
  background-color: transparent;
  cursor: pointer;
  margin-top: 16px;
}

.profile__button-exit:hover {
  opacity: 0.6;
  cursor: pointer;
}

@media (max-width: 770px) {
  .profile__greeting {
    margin: 236px 0 96px;
  }

  .profile__button-edit {
    margin-top: 210px;
  }

  .profile__form {
    margin-bottom: 269px;
  }
}

@media (max-width: 680px) {
  .profile__greeting {
    margin: 70px 0 80px;
  }

  .profile__button-edit {
    margin-top: 379px;
  }

  .profile__form {
    margin-bottom: 40px;
  }
}

@media (max-width: 550px) {
  .profile__form-container {
    width: 260px;
  }
}