@keyframes appr {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}



.error-tooltip {
  width: 100%;
  margin-top: 20px;
}

.error-tooltip__message {
  color: #FF3055;
  font-family: 'Inter', 'Arial', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.2;
  margin: 0;
  text-align: center;
  animation: appr 0.3s ease;
}

.error-tooltip__message_success {
  color: #2BE080
}