[data-tooltip] {
  position: relative;
}

[data-tooltip]::after {
  content: attr(data-tooltip);
  position: absolute;
  width: 130px;
  left: 1em;
  bottom: 0.5em;
  background-color: rgba(255, 255, 255, 0.9);
  color: #000;
  font-family: 'Inter', 'Arial', sans-serif;
  font-size: 0.8em;
  text-align: center;
  padding: 0.5em;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  pointer-events: none;
  opacity: 0;
  transition: .3s ease-out .5s;
}

[data-tooltip]:hover::after {
  opacity: 1;
  bottom: 0.5em;
  left: 1.5em;
}